* {
	box-sizing: border-box;
}



body {
	/*background-image: linear-gradient(#fefefe, black);*/
	background: white;

}


#reset-table {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	width: 100px;
	border-radius: 8px;
	background-color: #dfe3eba8;
	color: black;
	border: 1px solid white;
	cursor: pointer;
	transition: all 1s;
	position: absolute;
	right: 0;

}

#btn-consultaProdutos {
	font-family: Arial;
	padding: 10px 0;
	font-size: 15px;
	text-align: center;
	width: 150px;
	border-radius: 8px;
	background-color: #0047ba;
	color: white;
	border: 1px solid white;
	cursor: pointer;
	float: right;
	transition: all 1s;
}

#btn-consultaProdutos:hover {
opacity: 70%;
}


#reset-table:hover {
	background-color: white;
	color: black;
}

.progresso {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 30px 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	height: 100px;
	width: 25%;
	animation: piscaPisca 2s infinite;

}

@keyframes piscaPisca {
	30% {
		color: gray;
	}
}


/*header .container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}*/

.section-container {
	overflow: hidden;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	font-family: Arial;

}

label {
	color: #555;
	display: block;
	margin-bottom: .2em;
}


button:active {
	margin-top: 0px;
	border: 0;
}

button[disabled=disabled],
button:disabled {
	background-color: gray;
	border-color: darkgray;

}

#mensagens-erro,#erro-busca {
	color: red;
	margin-left: 10px;
    font-size: 20px;
}

   


.fadeOut {
	opacity: 0;
	transition: 0.5s;

}

#filtrar-tabela {
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 8px;
	font-size: 15px;
	padding: 1em 0;
	background-color: #dfe3eba8;
	color: gray;

}

.invisivel {
	display: none;

}


footer {
	text-align: center;
	background: rgb(19, 19, 19);
	color: white;
}

footer img {
	width: 150px;
	margin: 20px;
}

#ambiente-atual {
	color: white;
	font-family: Arial;

}

.info-product:hover {
	text-decoration: underline black;
	cursor: pointer;

}

.btn-export {
	margin-top: 10px;
	font-size: 15px;
	font-family: Arial;
	padding: 10px 10px;
	border-radius: 8px;
	background-color: #0047ba;
	color: white;
	border: 1px solid white;
	cursor: pointer;
	transition: all 1s;
	float: right;
}

.btn-export:hover {
	background-color: white;
	color: black;
}

#paginate {
	width: 100%;
	margin: 32px auto;
}

#paginate .item {
	border-bottom: 1px white;
}

#paginate .item:hover {
	background-color: white;

}

#paginate .pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 8px;
}

#paginate .pagination div {
	cursor: pointer;

	/* border: 1px solid #eee; */
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14;
}

#paginate .pagination div:not(.numbers),
#paginate .pagination div.numbers div {
	width: 40px;
	height: 40px;
}

#paginate .pagination div.numbers div:hover,
#paginate .pagination div.numbers div.active {
	color: var(--primary);
}


@media screen and (max-width: 480px) {
	.btn-export {
		position: relative;
		left: 0;
	}

	.div-top {
		display: block;
	}

	#reset-table {
		width: 25%
	}

	#filtrar-tabela {
		width: 45%;
		font-size: 65%;
	}

	.progresso {
		font-size: 15px;
	}

	#ambiente-atual {
		font-size: 30px;
	}
	#div-top{
		position: fixed;
	}
	.logo{
		top: 0;
		margin-bottom: 10px;
	}
	.topo-tabela{
		margin-top: 60px;
	}

}