#section-table {
  position: relative;
  border: 1px solid #000;
  background: #0047ba;
  padding-top: 37px;
  border-radius: 8px;
  overflow-y: hidden;
  overflow-x: auto;
  height: 600px;
  width: 100%;

}

#section-table.positioned {
  position: absolute;
  box-shadow: 0 0 15px #333;

}

.container {
  overflow-y: scroll;
  height: 600px;
  width: 112%;
}

td+td {
  border-left: 1px solid #eee;

}

td,
th, .th-tables {
  border-bottom: 1px solid #eee;
  color: #000;
  padding: 10px 25px;

}

tr{
  background: #ddd;

}

tr:hover {
opacity: 50%;

}

.th-table,
.th-tables {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;

}



.div-tables, .div-table {
  position: absolute;
  color: #fff;
  font-weight: bolder;
  border-left: solid 1px black;
  top: 10px;
  margin-left: -25px;
  line-height: normal;
  padding: 0 15px;

}

th:first-child div {
  border: none;
}

.invisivel {
  display: none;
}

@media screen and (max-width: 480px) {
  .btn-export {
    position: relative;
  }

  .container,
  table {
    height: 500px;
    width: 100%;

  }
  
  .th-table,
  .div-table {
    display: none;
  }
  .div-tables {
    font-size: 13px;
}

}

