body{
    background-color: rgb(0, 0, 0);
	    
}

#title{
    font-family: "Product Sans Medium";
    color: white;
}

#caixa{
    font-family: "Product Sans Medium";
	font-size: 40px;
    color: white;
    background-color: rgb(20, 20, 20);
    height: 800px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    border-radius: 8px;

}


#ambientes{
    font-family: "Product Sans Medium";
    text-align: center;
    width: 200px;
    font-size: 30px;
    color: white;
    background-color: black; 
    border: 1px solid white;
    border-radius: 8px;


}


#buscar-paciente{
    font-family: "Product Sans Medium";
    font-size: 20px;
    text-align: center;
    width: 150px;
    border-radius: 8px;
    background-color: black; 
    color: white;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    float: right;
   
    
}

#tabela{
    font-family: "Calibri" ;
    
    color: white;
    border-radius: 8px;
    
    
}

th{

    font-family: "Calibri" ;
    color: black;
    
}

#reset-table{
    font-family: "Product Sans Medium";
    font-size: 20px;
    text-align: center;
    width: 150px;
    border-radius: 8px;
    background-color: black; 
    color: white;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    float: right;
   

}